.Main{
  display: flex;
  flex-direction: column;
}
.About__heading{
    font-size: 3vh;
    font-weight: 600;
    position: relative;
    left: 1vh;
 }
.About__slider_outer{
    height: 1.5vh;
    width: 4vw;
    position:relative;
    left:4vh;
}
.About__slider_inner{
    height: 0.75vh;
    width: 2.5vw;
}
.About__name{
    font-size:5vh;
}
.About__des{
    margin: 0;
    position: relative;
    left: 1vh;
    font-size: 3vh;
    font-weight:300;
}

.About__book_icon{
    display: flex;
    justify-content: center;
    border-radius:1vh ;
    height: 5vh;
    width: 2vw;
    padding: 1vh;
    background: radial-gradient(100% 98.02% at 0% 1.98%, rgba(255, 255, 255, 0.83) 0.01%, rgba(255, 255, 255, 0.47) 100%);
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 1vh;
}
.About__bio{
    position:relative;
    font-size: 1rem;
    left: 1vh;
    color: white;
    margin-top:1%;
    margin-bottom: 1%;
}
.vr_line{
    position: relative;
    left: 3.25vh;
}
.inn1{
    position: absolute;
    top:9%;
}
.inn2{
    position: absolute;
    top: 109%;
}
.About__Education{
    position: relative;
    bottom: 53%;
    left: 6%;
}
.About__clgname{
    position: relative;
    bottom: 43.5%;
    left: 7%; 
}
p,h2,h1{
    margin: 0;
}
.bottom_container{
    height: 40%;
    display:flex;
    flex-direction: row;   
}
.education__container{
    width: 50%;
    height: 100%;
}
.skill__container{
    width: 50%;
    height: 100%;
}
.top_container{
    height: 60%;
}
.About__Btech{
    position: relative;
    bottom: 46%;
    left: 6.3%;   
}