.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
  .Main_typingtext{
    margin: 0;
    font-size: 3vw;
    font-weight: 300;
    color: white;
  }