.app__circle{
position: fixed;
right: 70vw;
bottom: 40vh;

width: 500px;
height: 500px;

background: linear-gradient(165.24deg, rgba(255, 255, 255, 0.6) 2.02%, rgba(255, 255, 255, 0.12) 100%);
backdrop-filter: blur(100px);


border-radius: 500px;
transform: rotate(40.63deg);

}