@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
body{
    padding: 0px;
    margin: 0px;
 background:no-repeat center fixed url('../Images/Frame_with_circle.svg'); 
 background-size: cover;
 font-family: 'Poppins', sans-serif;
}
